@model Ch24ShoppingCartMVC.Models.CartViewModel
    
@{
    <link href="~/Content/Home.css" rel="stylesheet" />
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Checkout</title>
</head>
<body>
    <div align="left">
        @if (Model.Cart == null || Model.Cart.Count == 0)
        {
            <p><b>Please Add some Items first</b></p>

        }
        else
        {
            foreach (var item in @Model.Cart)
            {

                <table align="center" style="width:100%">
                    <tr align="center">
                        <th>Product Name</th>
                        <th>Individual Price</th>
                        <th>Quantity</th>
                        <th>Total Price</th>
                    </tr>
                    <tr align="center">
                        <td>@item.Name</td>
                        <td>@item.UnitPrice</td>
                        <td>@item.Quantity</td>
                        <td>@(@item.Quantity*@item.UnitPrice)</td>




                    </tr>


                </table>

            }}

    </div>
</body>
</html>
