@model Ch24ShoppingCartMVC.Models.ContactViewModel
@{
    ViewBag.Title = "Contact Us";
}
@* Display
    Contact Us
    Email
    Phone
    Fax
    Social Media URLs*@
<h1>Contact Us</h1>
<p>Email: @Model.Email</p>
<p>phone: @Model.Phone</p>
<p>Fax: @Model.Fax</p>
<span>Social Media:</span>

<span>
    @foreach (string url in Model.SocialMediaUrls)
    {
        <a href="@url" target="_blank">@url</a> <br />
    }
</span>